body{
    font-family: 'Stylish', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlighter{
    color:orange;
}
p{
    font-size: 20px;
}
.half-width{
    width:40%;
    float:left;
}
.half-width img{
    width:100%;
}